// Put any @imports here
// See Readme for a list of supported ones

@import "foundation";

body {
  background: #e2ebf3;
}

.container {
  width: 800px;
  min-height: 500px;
  margin: 30px auto;
  // border: 1px solid black;
  
  form {
    width: 500px;
    margin: 8px auto;
  }

  input {
    margin-top: 15px;
    margin-bottom: 2px;
  }
}

.contact-card {
  width: 40%;
  margin: 2%;
  display: inline-block;
  background: lightblue;
  min-height: 400px;
  color: black;
  border: 1px solid black;
  padding: 10px;

  hr {
    color: blue;
    border: .1em dashed black;
  }
}

textarea {
  height: 200px;
  margin-top: 15px;
    margin-bottom: 10px;
}

.error-message {
  color: red;
  padding-top: 0px;
  margin-top: 0px;
}
