<h2>Add a new contact</h2>

<form ng-submit="vm.addContact(contact)">
  
  <input 
    type="text" 
    placeholder="First name" 
    required ng-model="contact.firstName">
  <input 
    placeholder="Last name" 
    ng-model="contact.lastName">
  <input 
    placeholder="Email" 
    ng-model="contact.email" 
    type="email">
  <input 
    placeholder="Website (note: must begin with http:// or https://)" 
    ng-model="contact.website" 
    ng-pattern"[/^https?:\/\//i]">
  <textarea 
    placeholder="A friendly message" 
    ng-model="contact.comment">
  </textarea>
  <small>{{vm.errorMSG}}</small>
  <button>Submit</button>
</form>
  

</form>